// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper,
.row:not(.not){
    height: 100%;
    width: 100%;
}
.container,
.container-fluid{
    width: 100%;
}
/*ScrollBar*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {

    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.notification {
    height: 35vh;
}
.notification-container {
    height: 50vh;
}
#home-container {
    width: 85%!important
}

/* Scrollbar Nofifiche */
#home-container ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#home-container ul::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
#home-container ul::-webkit-scrollbar-thumb {
    background-color: #5e7e8a;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%,transparent)
}



