@import 'palette';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;

    li:hover,
    a:hover {
        text-decoration: none!important;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

.wrapper {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.show {
    display: inline-block!important;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: $ice;

    box-shadow: 2px 2px 5px #000;

    .logo {
        width: 50px;
        padding: 1rem 0;
    }

    .hamburger {
        display: none;

        @media screen and (max-width: 978px){
            display: inline-block;
        }
    }

    nav  {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navItems  {
            display: flex;
            justify-content: space-between;
            flex-basis: 50%;
            align-items: center;
            margin:0;

            @media screen and (max-width: 978px){
                display: none;
                flex-direction: column;
                background-color: #94a6ab;
                border-bottom: 2px solid green;
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;
                top: 5rem;
                color: black;
            }

            .active {
                border-color: blue;
            }

            li {
                border-bottom: 3px solid transparent;
                &:hover {
                    border-color: blue;

                }

                a {
                    line-height: 5rem;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}
