//Standard Colors
$dark:#000000;
$light:#ffffff;

// Palette
$grey-dark: #4C5059;
$grey: #8F96A6;
$grey-light: #CCD0D9;
$cerulean:#A7C6DA;
$blue-primary: #010326;
$blue-secondary: #393E59;
$ice: #F0F2F2;

//Navitems color and overlay
$light-blue-dark: #6FBFBF;
$light-blue-light: #82D9D9;
